/*Generics*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;


}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-top: 150px;
}

/* UTILITY */

:root {
    --jumbo-bg: #b4d0e7;
    --asu-bg: #61082b;
    --designit-bg: #a2d39b;
    --ufflorida-bg: #0093ce;
    --topps-bg: #ff1c1c;
    --wbr-bg: #d5001f;
    --loneyplanet-bg: #0d2481;
    --clearchannel-bg: #ffd830;
    --heartscorporation-bg: #b4d0e7;
    --designit-slogan-bg: #f5f5f5;
    --freetrial-bg: #b4d0e7;
    --footer-bg: #000000;
    --fixed-navbar-bg: #ffffff;

    --plans-border: #d6d4d4;

    --freetrial-txt: #61082b;
    --footer-txt: #ffffff;
    --buy-now-txt: #d2cdf8;
    --colored-button: #0061ff;
    --colored-button-txt: #ffffff;
}

.colored-button {
    background-color: var(--colored-button);
    color: var(--colored-button-txt);
    ;
}

.big-container {
    width: 1200px;
    margin: 0 auto;
}

.small-container {
    width: 1000px;
    margin: 0 auto;
}

.small-button {
    text-align: center;
    padding: 8px 15px;
}


.large-button {
    width: 250px;
    text-align: center;
    padding: 8px 15px;


}

.bold {
    font-weight: bold;
}

/* HEADER */

/* NAVBAR */

.fixed-navbar {
    height: 80px;
    position: sticky;
    top: 0;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fixed-navbar-bg);
    z-index: 1;
}

.fixed-navbar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.fixed-navbar a {
    text-decoration: none;
    margin-left: 30px;


}

header .left-navbar {
    display: flex;
}

/* JUMBO */

.jumbotron {
    background-color: var(--jumbo-bg);
    padding-top: 80px;
    padding-bottom: 30px;
    height: 800px;
}

.header-content {
    height: 100%;
    position: relative;

}

.txt-column {
    margin-bottom: 40px;

}

.jumbotron h1 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 40px;

}

/* jumbo-links */

.jumbotron li {
    margin: 60px 0;
}

#inpage-link {
    font-size: 60px;
}

.header-content-col {
    position: relative;
    width: 30%;
    display: inline-block;
    padding-right: 10px;
}

/* heade-img */

.jumbotron figure {
    width: 850px;
    position: absolute;
    top: 0;
    left: 100%;


}


.jumbotron img {
    width: 850px;
    height: 550px
}


/* MAIN */

/* BUISNESS PLANS SECTION */

main h2 {
    font-size: 40px;
    font-weight: bold
}

#buisness-plan h2 {
    margin-bottom: 30px;
}

#buisness-plan span {
    margin-bottom: 70px;
}


.buisness-plans-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plans-column {
    width: 30%;
    border: 2px solid var(--plans-border);
    margin-bottom: 50px;

}

.plans-type {
    border-bottom: 2px solid var(--plans-border);
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.large-column {
    flex-grow: 1;

}

.plan-price {
    font-weight: bolder;
}

.plans-content {
    padding: 30px 25px;
}

.plans-detail li {
    margin-bottom: 15px;
    padding: ;
}

.plans-content div {
    margin-bottom: 40px;
}


.buy-now-link {
    text-decoration: underline;
    color: var(--buy-now-txt)
}

.trial-buy-links li {
    margin-bottom: 30px
}

.plans-content hr {
    width: 20%;
}