/*Generics*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;


}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-top: 150px;
}

section {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* hr {
    display: block;
} */

/* UTILITY */

:root {
    --jumbo-bg: #b4d0e7;
    --asu-bg: #61082b;
    --designit-bg: #a2d39b;
    --ufflorida-bg: #0093ce;
    --topps-bg: #ff1c1c;
    --wbr-bg: #d5001f;
    --loneyplanet-bg: #0d2481;
    --clearchannel-bg: #ffd830;
    --heartscorporation-bg: #b4d0e7;
    --designit-slogan-bg: #f5f5f5;
    --freetrial-bg: #b4d0e7;
    --footer-bg: #000000;
    --fixed-navbar-bg: #ffffff;
    --uncolored-button-bg: #ffffff;

    --plans-border: #d6d4d4;
    --uncolored-button-border: #000000;

    --freetrial-txt: #61082b;
    --footer-txt: #ffffff;
    --buy-now-txt: #d2cdf8;
    --colored-button: #0061ff;
    --colored-button-txt: #ffffff;
    --uncolored-button-txt: #000000;
    --check-color: #0061ff;
}

.colored-button {
    background-color: var(--colored-button);
    color: var(--colored-button-txt);

}

.uncolored-button {
    background-color: var(--uncolored-button-bg);
    color: var(--uncolored-button-txt);
    border: 1px solid var(--uncolored-button-border);
    text-align: center;

}

.big-container {
    width: 1200px;
    margin: 0 auto;
}

.small-container {
    width: 1000px;
    margin: 0 auto;
}

.small-button {
    text-align: center;
    padding: 8px 15px;
}


.large-button {
    width: 250px;
    text-align: center;
    padding: 10px 25px;
    display: block;


}

.bold {
    font-weight: bold;
}

.w-30 {
    width: 30%;
}

.w-70 {
    width: 70%;
}

.m-bot-30 {
    margin-bottom: 30px
}



.w-33 {
    width: calc(100%/3);
}

.icon-list li {
    display: flex;

}

.fa-solid {
    margin-right: 5px;
}

.row {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* HEADER */

/* NAVBAR */

.fixed-navbar {
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--fixed-navbar-bg);
    z-index: 1;
    box-shadow: 0 1px 3px #dedede;
}

.fixed-navbar ul {
    display: flex;
    justify-content: space-around;

}

.fixed-navbar a {
    text-decoration: none;
    margin-left: 30px;


}

header .left-navbar {
    display: flex;
}

/* JUMBO */

.jumbotron {
    background-color: var(--jumbo-bg);
    padding-top: 150px;
    padding-bottom: 30px;
    height: 820px;
}

.header-content {
    height: 100%;
    display: flex;

}



.jumbotron h1 {
    font-size: 80px;
    font-weight: 900;
    margin-bottom: 40px;

}

/* jumbo-links */

.jumbotron li {
    margin: 40px 0;
}

#inpage-link {
    font-size: 60px;
}



/* jumbo-img */
.jumbotron figure {
    width: 100%;
}

.jumbotron img {
    width: 100%
}





/* MAIN */

/* BUISNESS PLANS SECTION */

main h2 {
    font-size: 40px;
    font-weight: bold
}

#buisness-plan h2 {
    margin-bottom: 30px;
}




.buisness-plans-box .row {
    margin: 0 -20px;
}

.plans-card {
    border: 2px solid var(--plans-border);


}

.buisness-plans-box .col {
    padding: 0 20px;

}

.plans-type {
    border-bottom: 2px solid var(--plans-border);
    height: 50px;
    line-height: 50px;
    text-align: center;
}


.plan-price {
    font-weight: bolder;
}

.plans-content {
    padding: 30px 20px;
}

.plans-content li {
    margin-bottom: 15px;

}

.plans-content div {
    margin-bottom: 40px;
}


.buy-now-link {
    text-decoration: underline;
    color: var(--buy-now-txt)
}



.plans-content hr {
    width: 20%;
}

.fa-check {
    color: var(--check-color);
}

.plans-card {
    height: 100%;
}

.plans-content span,
.large-card-content span {
    display: block;
}

/* bigger card */
.large-column {
    flex-grow: 1;
}

.large-card-content {
    display: flex;
}

.large-card-info {
    width: 70%;
    padding: 30px;
}

.large-card-link {
    padding: 30px;
    width: 30%;
}


/* DROPBOX PARTNER SECTION */


#partner-dropbox .col-img {
    width: 60%
}

#partner-dropbox .col-txt {
    width: 40%;
    padding: 40px;
}

#partner-dropbox img {
    width: 100%;
    display: block;
}

#partner-dropbox .uncolored-button {
    padding: 10px;
    display: block;
    width: 60%;
}